In [174]:
import numpy as np
import pandas as pd

pd.set_option("display.precision", 2)
pd.set_option('display.max_columns', 100)

In [175]:
DATA_URL = "https://raw.githubusercontent.com/Yorko/mlcourse.ai/main/data/"

In [176]:
df = pd.read_csv(DATA_URL + "telecom_churn.csv")
df.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

|Feature Name|Description|Value Type|Statisrical Type|
|------------|-----------|----------|----------------|
|State| Штат США (аббревиатура)|string|categorical|
|Account length|Длина аккаунта (как долго клиент сотрудничает с этой компанией)|Numerical|quantitative|
|Area code|Код города (префикс номера телефона)|Numerical|categorical|
|International plan|Международный план|string:yes/no|categorical/boolen|
|Voice mail plan|План голосовой почты|string:yes/no|categorical/boolen|
|Number vmail messages|Количество сообщений vmail|Numerical|quantitative|
|Total day minutes|Всего минут за день|Numerical|quantitative|
|Total day calls|Всего звонков за день|Numerical|quantitative|
|Total day charge|Общая стоимость дня|Numerical|quantitative|
|Total eve minutes|Всего минут вечером|Numerical|quantitative|
|Total eve calls|Всего звонков вечером|Numerical|quantitative|
|Total eve charge|Общая стоимость вечера|Numerical|quantitative|
|Total night minutes|Всего ночных минут|Numerical|quantitative|
|Total night calls|Всего ночных звонков|Numerical|quantitative|
|Total night charge|Общая стоимость ночи|Numerical|quantitative|
|Total intl minutes|Всего международных минут|Numerical|quantitative|
|Total intl calls|Всего международных звонков|Numerical|quantitative|
|Total intl charge|Общие расходы на международные звонки|Numerical|quantitative|
|Customer service calls|Звонки в службу поддержки клиентов|Numerical|categorical/ordinal|
|Churn (target)| отток (True - клиент ушёл, False - лояльный клиент)|boolean|boolean|

In [177]:
df["Churn"] = df["Churn"].astype("int64")

In [178]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   State                   3333 non-null   object
 1   Account length          3333 non-null   int64
 2   Area code               3333 non-null   int64
 3   International plan      3333 non-null   object
 4   Voice mail plan         3333 non-null   object
 5   Number vmail messages   3333 non-null   int64
 6   Total day minutes       3333 non-null   float64
 7   Total day calls         3333 non-null   int64
 8   Total day charge        3333 non-null   float64
 9   Total eve minutes       3333 non-null   float64
 10  Total eve calls         3333 non-null   int64
 11  Total eve charge        3333 non-null   float64
 12  Total night minutes     3333 non-null   float64
 13  Total night calls       3333 non-null   int64
 14  Total night charge      3333 non-null   float64
 15  Total intl minutes      3333 non-null   float64
 16  Total intl calls        3333 non-null   int64
 17  Total intl charge       3333 non-null   float64
 18  Customer service calls  3333 non-null   int64
 19  Churn                   3333 non-null   int64
dtypes: float64(8), int64(9), object(3)
memory usage: 520.9+ KB

In [179]:
df.describe(include=['int64','float64'])

,Account length,Area code,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
count,3333.00,3333.00,3333.00,3333.00,3333.00,3333.00,3333.00,3333.00,3333.00,3333.00,3333.00,3333.00,3333.00,3333.00,3333.00,3333.00,3333.00
mean,101.06,437.18,8.10,179.78,100.44,30.56,200.98,100.11,17.08,200.87,100.11,9.04,10.24,4.48,2.76,1.56,0.14
std,39.82,42.37,13.69,54.47,20.07,9.26,50.71,19.92,4.31,50.57,19.57,2.28,2.79,2.46,0.75,1.32,0.35
min,1.00,408.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,23.20,33.00,1.04,0.00,0.00,0.00,0.00,0.00
25%,74.00,408.00,0.00,143.70,87.00,24.43,166.60,87.00,14.16,167.00,87.00,7.52,8.50,3.00,2.30,1.00,0.00
50%,101.00,415.00,0.00,179.40,101.00,30.50,201.40,100.00,17.12,201.20,100.00,9.05,10.30,4.00,2.78,1.00,0.00
75%,127.00,510.00,20.00,216.40,114.00,36.79,235.30,114.00,20.00,235.30,113.00,10.59,12.10,6.00,3.27,2.00,0.00
max,243.00,510.00,51.00,350.80,165.00,59.64,363.70,170.00,30.91,395.00,175.00,17.77,20.00,20.00,5.40,9.00,1.00

In [180]:
df.describe(include=['object','bool'])

       State International plan Voice mail plan
count   3333               3333            3333
unique    51                  2               2
top       WV                 No              No
freq     106               3010            2411

In [181]:
df['Churn'].value_counts(normalize=True)

Churn
0    0.86
1    0.14
Name: proportion, dtype: float64

Мы видим, что соотношение целевого признако неравномерно (целевые классы неравномерны)

In [182]:
df.sort_values(by=['Churn','Total day charge'], ascending=[True, False])

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
688,MN,13,510,No,Yes,21,315.6,105,53.65,208.9,71,17.76,260.1,123,11.70,12.1,3,3.27,3,0
2259,NC,210,415,No,Yes,31,313.8,87,53.35,147.7,103,12.55,192.7,97,8.67,10.1,7,2.73,3,0
534,LA,67,510,No,No,0,310.4,97,52.77,66.5,123,5.65,246.5,99,11.09,9.2,10,2.48,4,0
575,SD,114,415,No,Yes,36,309.9,90,52.68,200.3,89,17.03,183.5,105,8.26,14.2,2,3.83,1,0
2858,AL,141,510,No,Yes,28,308.0,123,52.36,247.8,128,21.06,152.9,103,6.88,7.4,3,2.00,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1837,NH,117,510,Yes,No,0,54.2,100,9.21,303.2,84,25.77,171.8,84,7.73,8.6,2,2.32,1,1
2173,KS,47,510,Yes,No,0,47.8,120,8.13,178.9,123,15.21,152.6,96,6.87,13.3,7,3.59,0,1
2158,FL,166,510,Yes,No,0,47.7,89,8.11,264.4,95,22.47,235.2,97,10.58,13.2,3,3.56,0,1
1531,DE,138,510,Yes,No,0,46.5,104,7.91,186.0,114,15.81,167.5,95,7.54,9.6,4,2.59,4,1
1345,SD,98,415,No,No,0,0.0,0,0.00,159.6,130,13.57,167.1,88,7.52,6.8,1,1.84,4,1

In [183]:
df[df['Churn']==1].describe(include=np.number)

,Account length,Area code,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
count,483.00,483.00,483.00,483.00,483.00,483.00,483.00,483.00,483.00,483.00,483.00,483.00,483.00,483.00,483.00,483.00,483.0
mean,102.66,437.82,5.12,206.91,101.34,35.18,212.41,100.56,18.05,205.23,100.40,9.24,10.70,4.16,2.89,2.23,1.0
std,39.47,42.79,11.86,69.00,21.58,11.73,51.73,19.72,4.40,47.13,19.95,2.12,2.79,2.55,0.75,1.85,0.0
min,1.00,408.00,0.00,0.00,0.00,0.00,70.90,48.00,6.03,47.40,49.00,2.13,2.00,1.00,0.54,0.00,1.0
25%,76.00,408.00,0.00,153.25,87.50,26.05,177.10,87.00,15.05,171.25,85.00,7.71,8.80,2.00,2.38,1.00,1.0
50%,103.00,415.00,0.00,217.60,103.00,36.99,211.30,101.00,17.96,204.80,100.00,9.22,10.60,4.00,2.86,2.00,1.0
75%,127.00,510.00,0.00,265.95,116.50,45.21,249.45,114.00,21.20,239.85,115.00,10.79,12.80,5.00,3.46,4.00,1.0
max,225.00,510.00,48.00,350.80,165.00,59.64,363.70,168.00,30.91,354.90,158.00,15.97,20.00,20.00,5.40,9.00,1.0

In [184]:
df[(df['Churn']==0) & (df['International plan'] == 'No')].describe()

,Account length,Area code,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
count,2664.00,2664.00,2664.00,2664.00,2664.00,2664.00,2664.00,2664.00,2664.00,2664.00,2664.00,2664.00,2664.00,2664.00,2664.00,2664.00,2664.0
mean,100.61,436.61,8.58,174.57,100.16,29.68,198.98,99.95,16.91,200.30,100.01,9.01,10.19,4.49,2.75,1.46,0.0
std,39.90,42.05,13.89,49.94,19.69,8.49,50.19,20.08,4.27,50.86,19.54,2.29,2.82,2.45,0.76,1.17,0.0
min,1.00,408.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,23.20,33.00,1.04,0.00,0.00,0.00,0.00,0.0
25%,73.00,408.00,0.00,142.38,87.00,24.21,164.57,87.00,13.99,166.40,87.00,7.49,8.40,3.00,2.27,1.00,0.0
50%,100.00,415.00,0.00,176.80,100.00,30.06,199.60,100.00,16.97,200.50,100.00,9.02,10.20,4.00,2.75,1.00,0.0
75%,127.00,415.00,22.00,209.62,113.00,35.64,233.43,113.00,19.84,234.90,113.00,10.57,12.10,6.00,3.27,2.00,0.0
max,243.00,510.00,51.00,315.60,163.00,53.65,361.80,170.00,30.75,395.00,175.00,17.77,18.90,19.00,5.10,8.00,0.0

In [185]:
df[df['State'].apply(lambda state: state[0]=='W')]

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
9,WV,141,415,Yes,Yes,37,258.6,84,43.96,222.0,111,18.87,326.4,97,14.69,11.2,5,3.02,0,0
26,WY,57,408,No,Yes,39,213.0,115,36.21,191.1,112,16.24,182.7,115,8.22,9.5,3,2.57,0,0
44,WI,64,510,No,No,0,154.0,67,26.18,225.8,118,19.19,265.3,86,11.94,3.5,3,0.95,1,0
49,WY,97,415,No,Yes,24,133.2,135,22.64,217.2,58,18.46,70.6,79,3.18,11.0,3,2.97,1,0
54,WY,87,415,No,No,0,151.0,83,25.67,219.7,116,18.67,203.9,127,9.18,9.7,3,2.62,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3278,WI,87,415,No,No,0,238.0,97,40.46,164.5,97,13.98,282.5,132,12.71,10.6,6,2.86,2,0
3303,WI,114,415,No,Yes,26,137.1,88,23.31,155.7,125,13.23,247.6,94,11.14,11.5,7,3.11,2,0
3319,WY,89,415,No,No,0,115.4,99,19.62,209.9,115,17.84,280.9,112,12.64,15.9,6,4.29,3,0
3324,WV,159,415,No,No,0,169.8,114,28.87,197.7,105,16.80,193.7,82,8.72,11.6,4,3.13,1,0
3329,WV,68,415,No,No,0,231.1,57,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3,0

In [186]:
df[['International plan', 'Voice mail plan']] = df[['International plan', 'Voice mail plan']].map(lambda x: False if x=='No' else True)

In [187]:
columns_to_show = ["Total day minutes", "Total eve minutes", "Total night minutes"]

df.groupby(["Churn"])[columns_to_show].agg(['mean','std','min','max'])

      Total day minutes                    Total eve minutes               \
                   mean    std  min    max              mean    std   min
Churn
0                175.18  50.18  0.0  315.6            199.04  50.29   0.0
1                206.91  69.00  0.0  350.8            212.41  51.73  70.9

             Total night minutes
         max                mean    std   min    max
Churn
0      361.8              200.13  51.11  23.2  395.0
1      363.7              205.23  47.13  47.4  354.9

In [188]:
pd.crosstab(df['Churn'], df['International plan'], normalize=True)

International plan  False  True
Churn
0                     0.8   0.06
1                     0.1   0.04

In [189]:
pd.crosstab(df['Churn'], df['Voice mail plan'], normalize=True)

Voice mail plan  False  True
Churn
0                 0.60   0.25
1                 0.12   0.02

In [193]:
df.pivot_table(['Total day calls', 'Total eve calls', 'Total night calls'], ['Area code'], aggfunc=['mean'])

                     mean
          Total day calls Total eve calls Total night calls
Area code
408                100.50           99.79             99.04
415                100.58          100.50            100.40
510                100.10           99.67            100.60

In [196]:
df['Total calls'] = df['Total day calls'] + df['Total eve calls'] + df['Total night calls']
df['Total charge'] = df['Total day charge'] + df['Total eve charge'] + df['Total night charge']

In [197]:
df.head(2)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,Total calls,Total charge
0,KS,128,415,False,True,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.7,1,0,300,72.86
1,OH,107,415,False,True,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.7,1,0,329,55.54